@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,italic,500,500italic,700,700italic);
html,
body {
	padding: 0;
	background-color: #f4f4f9;
	margin: 0;
	font-family: 'DM Sans';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
