/* .contNav {
	width: 100%;
	background-color: #fff;
	position: relative;
}
.bodyNav {
	margin-top: 1rem;
	width: 95%;
	display: flex;
	margin: auto;
} */
/* .logoNav {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.infosNav {
	flex: 2;
	display: flex;
}
.ftrsNav {
	flex: 6;
	display: flex;
} */
/* .ftrsNav p {
	flex: 1;
	text-align: center;
	font-size: 0.9rem;
	padding: 0.3rem 0;
	border-radius: 10px;
	color: #707070;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.ftrsNav p:hover {
	color: #fff !important;
	background-color: #366ef1;
}
.ftrsNav p svg path {
	fill: #707070;
}
.ftrsNav p:hover svg path,
.ftrsNav p:hover {
	fill: #ffffff;
	color: white;
} */

/* .infosNav p:nth-child(1) {
	text-align: center;
	flex: 4;
	display: grid;
	align-items: center;
	
}
.infosNav p:nth-child(2) {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.infosNav p:nth-child(3) {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;

}
.infosNav p:nth-child(3):hover > svg path {
	fill: #366ef1;
} */
/* .dropdownsNav {
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 12px 24px 38px #0000001c;
	position: absolute;
	width: 200%;
	left: 0;
	top: 100%;
	padding: 1rem 1rem;
	border-radius: 10px;
	height: auto;
	z-index: 100;
} */
/* .dropdownsNav p {
	text-align: left;
	padding: 0.5rem 1rem;
	margin: 0;
	display: block;
	font-size: 0.8rem;
	font-weight: 600;
} */
/* .dropdownsNav p:hover {
	color: #366ef1 !important;
	background-color: #eceef1;
	cursor: pointer;
} */
.userPanelNav {
	position: absolute;
	height: auto;
	width: 10rem;
	background-color: #fff;
	right: 0;
	top: 100%;
	font-size: 0.8rem;
	border-radius: 10px;
	box-shadow: 12px 9px 38px #00000014;
	z-index: 100;
}
.userPanelNav p {
	color: #707070;
}
.userPanelNav p:hover {
	background-color: #eceef1;
	color: #366ef1;
	border-radius: 10px;
}
.userPanelNav p:last-child {
	border: 1px solid #fff;
}
.userPanelNav p:last-child:hover {
	background-color: #fff;
	border: 1px solid #ff002b;
	color: #ff002b;
}

@media (max-width: 1200px) {
	.ftrsNav p {
		font-size: 0.7rem;
	}
	.dropdownsNav p {
		font-size: 0.6rem;
		padding: 0.3rem 0.5rem;
	}
}
@media (max-width: 900px) {
	.ftrsNav p {
		font-size: 0.6rem;
	}
}
