.tb {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0rem 1rem;
	border-radius: 1rem;
	color: #333333;
	background-color: rgba(0, 0, 0, 0);
}
.tb tr {
	background-color: #f4f4f9;
	cursor: pointer;
}
.tb tr td {
	background-color: #fff;
	padding: 0.5rem;
}
.tb tr td:first-of-type {
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
}
.tb tr td:last-of-type {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}
.tb tr th:first-of-type {
	border-bottom-left-radius: 1rem;
	border-top-left-radius: 1rem;
}
.tb tr th:last-of-type {
	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

.tb th {
	border: 1px solid #477eff;
	padding: 1rem;
	color: #fff;
	font-weight: 400;
	background: #366ef1;
}
.tb td {
	font-size: 0.8rem;
	text-align: center;
	border: 1px solid #f4f4f9;
	opacity: 1;
	font-weight: 500;
}
.tb td input[type='checkbox']:checked + label {
	background-image: url('/src/table/bluecheck.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 1280px) {
	.table {
		width: 95%;
	}
	.tb {
		transform-origin: 0 0;
		transform: scale(0.99);
	}
}

@media (max-width: 1200px) {
	.table {
		transform-origin: 0 0;
		transform: scale(0.85);
	}
	.tb {
		width: 100%;
	}
}

@media (max-width: 1100px) {
	.tb {
		width: 100%;
	}
}
@media (max-width: 1000px) {
	.tb {
		/* border: 1px solid black; */
		width: 100%;
	}
}

@media (max-width: 900px) {
	.tb {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.tb {
		width: 100%;
	}
}
